header{
  height: 80px;
width: 1440px;
left: 0px;
top: 0px;
border-radius: 0px;
padding: 0px, 24px, 0px, 24px;
justify: space-between;
/* header */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 24px;
gap: 474px;

position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 0px;
}

.aboutposse{
  position: absolute;
left: 0%;
right: 48.12%;
top: 0%;
bottom: 12%;

font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 160%;
/* or 22px */

letter-spacing: 0.1em;

/* gray-dark */

color: #666666;
}

.puiz{
  /* クイズ */


position: absolute;
left: 71.88%;
right: 0%;
top: 0%;
bottom: 12%;

font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 160%;
/* or 22px */

letter-spacing: 0.1em;

/* gray-dark */

color: #666666;

}

p{
  font-family: Noto Sans JP;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-align: left;
}

.twitter{height: 50px;
  width: 50px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  /* Ellipse 3 */


box-sizing: border-box;

position: absolute;
left: 0%;
right: 56.9%;
top: 0%;
bottom: 0%;

/* gray-light */

border: 1px solid #EEEEEE;


}
